.homepage-sun, .homepage-cloud, .homepage-rain{
  height: 30vh;
  aspect-ratio: 1/1;
  border: 3px solid red
}

.content{
  display: flex;
  align-items: center;
  justify-content: center;
  height: 85vh;
}
